<div class="tasks-list">
  <!-- title -->
  <h2 class="tasks-list__title">{{ title }}</h2>

  <!-- list -->
  <div
    [id]="id"
    cdkDropList
    class="tasks-list__drag"
    [cdkDropListConnectedTo]="connectedToIds"
    [cdkDropListData]="tasks"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="tasks-list__box" *ngFor="let task of tasks" cdkDrag>
      <nx-kanban-board-task-card
        [task]="task"
        (deleteClicked)="taskDelete.emit($event)"
      ></nx-kanban-board-task-card>
    </div>
  </div>
</div>
