<div class="board-page">
  <div class="board-page__tasks">
    <!-- todo -->
    <div>
      <nx-kanban-board-tasks-list
        [id]="taskStatuses.TODO"
        [connectedToIds]="[taskStatuses.ON_HOLD, taskStatuses.IN_PROGRESS]"
        title="Todo"
        [tasks]="tasksTodo"
        (taskMoved)="updateTask($event)"
        (taskDelete)="confirmDeleteTask($event)"
      ></nx-kanban-board-tasks-list>
    </div>

    <!-- on hold -->
    <div>
      <nx-kanban-board-tasks-list
        [id]="taskStatuses.ON_HOLD"
        [connectedToIds]="[taskStatuses.TODO, taskStatuses.IN_PROGRESS]"
        title="On hold"
        [tasks]="tasksOnHold"
        (taskMoved)="updateTask($event)"
        (taskDelete)="confirmDeleteTask($event)"
      ></nx-kanban-board-tasks-list>
    </div>

    <!-- in progress -->
    <div>
      <nx-kanban-board-tasks-list
        [id]="taskStatuses.IN_PROGRESS"
        [connectedToIds]="[
          taskStatuses.TODO,
          taskStatuses.ON_HOLD,
          taskStatuses.DONE
        ]"
        title="In progress"
        [tasks]="tasksInProgress"
        (taskMoved)="updateTask($event)"
        (taskDelete)="confirmDeleteTask($event)"
      ></nx-kanban-board-tasks-list>
    </div>

    <!-- done -->
    <div>
      <nx-kanban-board-tasks-list
        [id]="taskStatuses.DONE"
        [connectedToIds]="[taskStatuses.TODO, taskStatuses.IN_PROGRESS]"
        title="Done"
        [tasks]="tasksDone"
        (taskMoved)="updateTask($event)"
        (taskDelete)="confirmDeleteTask($event)"
      ></nx-kanban-board-tasks-list>
    </div>
  </div>
</div>
